body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#game_area {
    background-image: url('../images/rpsls.webp');
    min-height: 300px;
    max-width: 100%;
    height: auto;
    background-position-y: -2cm;
    background-repeat: no-repeat;
    background-size: cover;
}

#P1_choice {
    text-transform: uppercase;
    color: blue;
}

#P2_choice {
    text-transform: uppercase;
    color: red;
}

#result_area {
    color: green;
}

.button {
    width: 220px;
    height: 60px;
    font-family: inherit;
    text-transform: uppercase;
    color: black;
    border: 5px solid;
    width: 150px;
    height: 90px;
    font-size: 1rem;
    margin: 5px 10px;
    transition: all 0.5s;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
}

#P1_box {
    color: blue;
}

#P2_box {
    color: red;
}

#hr {
    color: white;
    width: auto;
}

#player_score_id {
    text-transform: uppercase;
    color: blue;
}

#opponent_score_id {
    text-transform: uppercase;
    color: red;
}

@media screen and (max-width: 1024px) {
    #game_area {
        min-height: 280px;
        width: 100%;
        height: auto;
        background-position: center;
   }
}

@media screen and (max-width: 912px) {
    #game_area {
        min-height: 250px;
        width: 100%;
        height: auto;
        background-position: center;
   }
}

@media screen and (max-width: 415px) {
    #game_area {
        min-height: 200px;
        width: 100%;
        height: auto;
        background-position: center;
   }
}