body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#image_area {
    background-image: url('../images/rpsls.webp');
    min-height: 350px;
    max-width: 100%;
    height: auto;
    background-position-y: -1.5cm;
    background-repeat: no-repeat;
    background-size: cover;
}

#player_area {
    padding-top: 15px;
}

#P1_choice {
    text-transform: uppercase;
    color: blue;
}

#P2_choice {
    text-transform: uppercase;
    color: red;
}

#button_area {
    padding-top: 15px;
}

#result_area {
    color: green;
    padding-top: 15px;
}

.button {
    width: 220px;
    height: 60px;
    font-family: inherit;
    text-transform: uppercase;
    color: black;
    background-color: whitesmoke;
    border: 5px solid;
    width: 150px;
    height: 90px;
    font-size: 1rem;
    margin: 5px 10px;
    transition: all 0.5s;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
}

#P1_box {
    color: blue;
}

#P2_box {
    color: red;
}

#player_score_id {
    text-transform: uppercase;
    color: blue;
}

#opponent_score_id {
    text-transform: uppercase;
    color: red;
}

#rules_area {
    padding-top: 15px;
    min-height: 550px;
}

.footer {
    max-width: 1200px;
    width: 100%;
    background-color: black;
    position: absolute;
    text-align: center;
}

.social-networks li {
    list-style-type: none;
    display: inline;
    padding: 0% 5% 0% 5%;
}

.social-networks li a {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    #image_area {
        min-height: 280px;
        width: 100%;
        height: auto;
        background-position: center;
    }
}

@media screen and (max-width: 912px) {
    #image_area {
        min-height: 250px;
        width: 100%;
        height: auto;
        background-position: center;
    }
}

@media screen and (max-width: 415px) {
    #image_area {
        min-height: 200px;
        width: 100%;
        height: auto;
        background-position: center;
    }
}